*{

    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial;

    color:white;

    padding:20px;

    min-height:100vh;

    background-image:url("/static/simple-abstract-background-with-blue-gradations-vector.jpg");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    background-attachment:fixed;
}

.container{

    max-width:900px;

    margin:auto;
}

h1{

    text-align:center;

    margin-bottom:30px;

    font-size:45px;

    font-weight:bold;

    text-shadow:0px 0px 10px black;
}

.user-box{

    background-image:url("/static/Wallpaper.jpeg");

    background-size:cover;

    background-position:center;

    padding:25px;

    border-radius:25px;

    margin-bottom:25px;

    backdrop-filter:blur(10px);

    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}

.gate-card{

    background-image:url("/static/Wallpaper.jpeg");

    background-size:cover;

    background-position:center;

    padding:25px;

    border-radius:25px;

    margin-bottom:25px;

    text-align:center;

    transition:0.3s;

    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}

.gate-card:hover{

    transform:scale(1.02);
}

.gate-card h2{

    margin-bottom:20px;

    font-size:35px;
}

p{

    font-size:24px;

    margin-bottom:15px;

    text-shadow:0px 0px 5px black;
}

.status{

    width:250px;

    margin:auto;

    padding:20px;

    border-radius:18px;

    font-size:35px;

    font-weight:bold;

    margin-bottom:20px;

    box-shadow:0px 0px 15px rgba(0,0,0,0.5);
}

.open{

    background:green;
}

.closed{

    background:red;
}

.unknown{

    background:gray;
}

.route-btn{

    background:#2196f3;

    color:white;

    border:none;

    padding:15px 30px;

    border-radius:15px;

    font-size:22px;

    cursor:pointer;

    transition:0.3s;

    box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}

.route-btn:hover{

    transform:scale(1.05);

    opacity:0.9;
}
