*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#0f172a;

    color:white;

    font-family:Arial;

    padding:20px;
}

.container{

    max-width:900px;

    margin:auto;
}

h1{

    text-align:center;

    margin-bottom:30px;

    font-size:42px;
}

.user-box,
.gate-card{

    background:#1e293b;

    padding:25px;

    border-radius:20px;

    margin-bottom:25px;

    box-shadow:0px 0px 15px rgba(0,0,0,0.4);
}

.gate-card{

    text-align:center;
}

h2{

    margin-bottom:20px;

    font-size:32px;
}

p{

    margin-bottom:15px;

    font-size:22px;
}

.status{

    width:240px;

    margin:auto;

    padding:18px;

    border-radius:15px;

    font-size:30px;

    font-weight:bold;

    margin-bottom:20px;
}

.open{

    background:green;
}

.closed{

    background:red;
}

.unknown{

    background:gray;
}

.route-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:15px 25px;

    border-radius:12px;

    font-size:20px;

    cursor:pointer;
}
.open{

    background:green;

    animation:pulseGreen 1s infinite;
}

.closed{

    background:red;

    animation:pulseRed 1s infinite;
}

@keyframes pulseGreen{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.05);
    }

    100%{
        transform:scale(1);
    }
}

@keyframes pulseRed{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.05);
    }

    100%{
        transform:scale(1);
    }
}
