<!DOCTYPE html>
<html>

<head>

<title>🚦 Railway Gate Tracker</title>

<meta
name="viewport"
content="
width=device-width,
initial-scale=1.0,
maximum-scale=1.0,
user-scalable=no">

<link
rel="stylesheet"
href="/static/style.css">

    <link rel="manifest" href="/manifest.json">
    

</head>

<body>

<div id="loader">

    <div class="spinner"></div>

</div>

<div class="container">

    <!-- TITLE -->

    <h1 class="main-title">

        🚦 RAILWAY GATE TRACKER

    </h1>

    <!-- CLOCK -->

    <h2 id="clock"></h2>

    <!-- USER STATUS -->

    <div class="user-box glass-card">

        <h2>

            👤 Your Status

        </h2>

        <p id="locationText">

            Searching GPS...

        </p>

        <p id="speedText">

            🚶 Speed: 0 km/h

        </p>
        
        <p id="liveUsers">

    🌐 Live Users: 0
    
    </p>

    </div>

    <!-- GATE 1 -->

    <div class="gate-card glass-card">

        <h2>

            🚧 Cantonment Gate

        </h2>

        <p id="distance1">

            📍 DISTANCE: --

        </p>

        <p id="users1">

            Waiting Users: 0

        </p>

        <p id="prediction1">

            🚧 Closed At: --

        </p>

        <div
        id="status1"
        class="status unknown">

            ⚪ NO DATA

        </div>

        <button
        class="route-btn"

        onclick="openRoute(
        15.1514586,
        76.8938312
        )">

            Open Route

        </button>

    </div>

    <!-- GATE 2 -->

    <div class="gate-card glass-card">

        <h2>

            🚧 Radio Park Gate

        </h2>

        <p id="distance2">

            📍 DISTANCE: --

        </p>

        <p id="users2">

            Waiting Users: 0

        </p>

        <p id="prediction2">

            🚧 Closed At: --

        </p>

        <div
        id="status2"
        class="status unknown">

            ⚪ NO DATA

        </div>

        <button
        class="route-btn"

        onclick="openRoute(
        15.1445935,
        76.9047562
        )">

            Open Route

        </button>

    </div>

</div>

<script src="/static/script.js"></script>

</body>

</html>
